spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    username: user
    url: jdbc:postgresql://localhost:5432/pet-match
    password: '123456'
  #  autoconfigure:
  #    exclude:
  #      - org.springframework.boot.autoconfigure.web.servlet.error.ErrorMvcAutoConfiguration
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    hibernate:
      ddl-auto: update
    show-sql: false
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
server:
  port: '8080'
  servlet:
    context-path: /pet-match
springdoc:
  swagger-ui:
    path: /swagger-ui.html
security:
  jwt:
    secret: '432646294A404E635266556A586E5A7234753778214125442A472D4B61506453'
    expiration: 3600000

